@keyframes example{
    0%{background-color: #800000;}
    25%{background-color: #800000}
    50%{background-color: rgb(2, 2, 39);}
    75%{background-color: black;}
    100%{background-color: black;}

}

body{
    animation-name: example;
    animation-duration: 20s;
}

@keyframes hr_animation{
    0%{width: 0%;}
    10%{width: 10%;}
    20%{width: 20%;}
    30%{width: 30%;}
    40%{width: 40%;}
    50%{width: 50%;}
    60%{width: 60%;}
    70%{width: 70%;}
    80%{width: 80%;}
    90%{width: 90%;}
    100%{width: 100%;}
}

hr{
    animation-name: hr_animation;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-timing-function: ease;
}