body{
    /* background-color: rgb(2, 2, 39); */
    background-color: black;
    /* background-color: #800000; */
}

h3{
    color: white;
}

.letter-E{
    /* color: #800000; */
    color: rgb(18, 18, 224);
}
code{
    opacity: 0.6;
}
li{
    list-style-type: none;
}

.navbar{
    position: sticky;
    top: 0px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
}

.navbar-links{
    width: 50%;
}

ul{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.active{
    /* color: #800000; */
    color: rgb(18, 18, 224);
}


section{
    margin-left: 7.9%;
    margin-right: 100px;
}

#home-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.header-right{
    width: 40%;
    height: 80vh;
    position: relative;
}
.header-left{
    position: relative;
    width: 50%;
    height: 80vh;
    color: white;
    opacity: 0.6;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    font-family: sans-serif;
}
.no-background{
    width: 100%;
    opacity: .5;
}
.behind-image{
    width: 100%;
    height: inherit;
    border-radius: 5px;
    position:absolute;
    top: 7%;
    line-height: 50px;
    color: white;
}
.header-right img{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

#aboutme{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-top:20px;
    height: 80vh;
    padding: 50px;
    border-radius: 5px;
}
.about-left{
    width: 40%;
    height: 100%;
    /* background-color: black; */
    background-color: rgb(2, 2, 39);
    position: relative;
}
.about-right{
    width: 40%;
    background-color: rgb(2, 2, 39);
    color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.about-left img{
    width: 60%;
    height: inherit;
    margin-left: 100px;
}

#project{
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 60vh;
    padding: 50px;
    border-radius: 5px;
}

.projects{
    width: 30%;
    background-color: rgb(2, 2, 39);
    border-radius: 5px;
    text-align: center;
    color: white;
}

footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(2, 2, 39);
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-family: sans-serif;
}
.follow{
    /* border: 1px solid yellow; */
    padding: 0px;
}
.hashnode, .twitter, .github, .linkedin{
    width: 30px;
    height: 30px;
    margin: 20px;
}

.twitter{
    margin-left: 0;
}
.hide{
    /* background-color: rgb(2, 2, 39); */
    background-color: black;
    color: black;
    /* color:rgb(2, 2, 39); */
    border: none;
}

button{
    width: 15%;
    height: 5%;
    border: none;
    border-radius: .9em;
    cursor: pointer;
    background-color: rgb(47, 47, 243);
    color: white;
}
button:hover{
    box-shadow: -5px 5px 1px skyblue;
    width: 15.5%;
    height: 5.5%;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
input::placeholder{
    color: black;
}

