body{
    background-color: #382525;
}

h3{
    color: white;
}

.letter-E{
    color: #800000;
}

li{
    list-style-type: none;
}

.navbar{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navbar-links{
    width: 50%;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: white;
}
.active{
    color: #800000;
}


section{
    margin-left: 7.9%;
    margin-right: 100px;
}

#home-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.header-right{
    width: 40%;
    height: 80vh;
    position: relative;
    border: 1px solid blue;
}
.header-left{
    width: 40%;
    height: 30%;
}
.no-background{
    width: 100%;
}
.behind-image{
    width: 100%;
    height: inherit;
    border-radius: 5px;
    position:absolute;
    top: 0px;
    /* background-color: #800000; */
    line-height: 50px;
    color: white;
}
.header-right img{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}