body{
    background-color: #382525;
}

li{
    list-style-type: none;
}

.navbar{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-links{
    width: 50%;
}
ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section{
    margin-left: 100px;
    margin-right: 100px;
}

