.three-dashed-icon{
    display: none;
    flex-direction: column;
    padding: 3px;
}

.three-dashed-icon>hr{
    margin-bottom: 1.5px;
}

@media (max-width: 412px) {
    section{
        margin: 0px;
    }
    .navbar{
        margin: 0;
        width: 90%;
    }
    .three-dashed-icon{
        display: flex;
        border: 1px solid grey;
        height: 40px;
    }
    .navbar-links{
        display: none;
    }

    .icon{
        width: 2.5em;
        background-color: white;
    }
    #home-section{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    #aboutme{
        padding: 5px;
        margin: 0px;
        height: auto;
        width: 90%;
    }
    .header-left{
        margin: 0px;
        /* border: 1px solid yellow; */
        width: 90%;
        height: auto;
        font-size: 1.5em;
    }
    .header-right{
        display: none;
    }

    button{
        width: 25%;
        height: 5%;
    }

    .about-left{
        display: none;
    }
    .about-right{
        width: 100%;
        padding: 5px;
    }
    #project{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: auto;
        padding: 5px;
    }

    .projects{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    footer{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}