.three-dashed-icon{
    display: none;
    flex-direction: column;
    padding: 3px;
}

.three-dashed-icon>hr{
    margin-bottom: 1.5px;
}

@media (max-width: 412px) {
    section{
        margin: 0px;
    }
    .navbar{
        width: 90%;
        height: auto;
        font-size: 1em;
    }
    .three-dashed-icon{
        display: flex;
        border: 1px solid grey;
        height: 40px;
    }
    .navbar-links{
        display: none;
    }

    .icon{
        width: 2.5em;
        background-color: white;
    }
    #home-section{
        /* display: flex;
        flex-direction: column;
        border: 1px solid red; */
    }

    #aboutme{
        padding: 5px;
        margin: 1.2em;
        height: auto;
        width: 95%;
        /* border:1px solid green; */
    }
    .header-left{
        padding: 5px;
        width: auto;
    }
    .header-right{
        display: none;
    }

    button{
        width: 25%;
        height: 5%;
    }

    .about-left{
        display: none;
    }
    .about-right{
        width: 100%;
        padding: 5px;
    }
    #project{
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: auto;
        padding: 5px;
    }

    .projects{
        width:95%;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    footer{
        width: 95%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        padding: 5px;
        height: auto;
    }
    .send-message{
        display: flex;
        justify-content: center;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    input{
        margin: 10px;
        padding: 5px;
    }
}