*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(10, 10, 10, 1),rgba(10, 10, 10, 1)), url('./Media/images/My professional headshot.png');
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: blue;
}
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li{
    text-decoration: none;
    font-size: 1rem;
    color: blue;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #fff;
    margin: auto;
    display: block;
    transition: 1s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-section{
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-section p{
    margin: 10px 0px 40px;
}
.text-section a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    background: transparent;
    position: relative;
    font-size: 15px;
    border-radius: 5px;
}

.text-section a:hover{
    border: 1px solid blue;
    background: blue;
}