@media (max-width:912px) {
    .img-b{
        display: none;
    }
    .navbar{
        width: 90%;
        margin: 1.2em;
        /* border: 1px solid yellow; */
    }

    .header-right{
        height: auto;
        width: 80%;
        /* border: 1px solid red; */
    }
    
    .header-left{
        height: auto;
    }

    #home-section{
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        margin: 1.2em;
    }

    #aboutme{
        height: auto;
        /* border: 1px solid red; */
    }
    .about-right{
        width: 90%;
    }
    .about-left{
        display: none;
    }

    .image-back{
        display: block;
        border-radius: 50%;
        /* background-color: red; */
    }

    .image-size{
        width: 40%;
        border-radius: 50%;
    }

    #project{
        width: 90%;
        /* border: 1px solid red; */
    }
}

@media (max-width:1024px) {
    button{
        width: 30%;
    }
}

.three-dashed-icon{
    display: none;
    flex-direction: column;
    padding: 3px;
}

.three-dashed-icon>hr{
    margin-bottom: 1.5px;
}

@media (max-width:540px) {
    .three-dashed-icon{
        display: flex;
        border: 1px solid grey;
        height: 40px;
    }
    .navbar-links{
        display: none;
    }

    .icon{
        width: 2.5em;
        background-color: white;
    }
    .navbar{
        width: 90%;
        margin: 1.2em;
    }
    .behind-image{
        height: auto;
        line-height: 25px;
    }
    .header-right{
        /* border: 1px solid red; */
        width: 80%;
        height: auto;
    }
    .header-left{
        height: auto;
        line-height: 25px;
        font-size: 1.5em;
        margin-right: 10px;
    }

    #home-section{
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 1.2em;
        padding: 10px;
        /* border: 1px solid green; */
    }

    #aboutme{
        height: auto;
        /* border: 1px solid red; */
        width: 90%;
        padding: 5px;
        margin: 1.2em;
    }
    .about-right{
        width: 100%;
        /* margin: 1.2em; */
    }
    .about-left{
        display: none;
    }

    .image-back{
        display: block;
        border-radius: 50%;
        /* background-color: red; */
    }

    .image-size{
        width: 40%;
        border-radius: 50%;
    }

    #project{
        width: 90%;
        margin: 1.2em;
        padding: 5px;
        /* border: 1px solid red; */
    }

    .projects{
        width: 100%;
    }
    button{
        width: 40%;
        height: 10%;
    }
    footer{
        width: 90%;
        height: auto;
        margin: 1.2em;
        padding: 5px;
        /* border: 1px solid red; */
    }
    form{
        display: flex;
        flex-direction: column;
    }
    input{
        margin: 0.5em;
    }
    .hashnode, .twitter, .github, .linkedin{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
}

@media (min-width:920px){
    .image-size{
        display: none;
    }
}